<div class="row">
  <div class="col">
    <div class="card card-small card-post mb-4">
      <div class="card-body">
        <h5 class="card-title">
          <%= asset.name %>
        </h5>

        <div class="row">
          <div class="col-sm-3">
            <div class="qr">
              <%= raw asset.qr.as_html %>
            </div>
          </div>
          <div class="col-sm-9">
            <dl>
              <dt>Key</dt>
              <dd><%= asset.key %></dd>

              <dt>Last known location:</dt>
              <dd><%= asset.position.blank? ? "n/a": "#{asset.position.try(:x)}, #{asset.position.try(:y)}" %></dd>

              <dt>Time since last position:</dt>
              <dd><%= asset.position.blank? ? "n/a": "#{asset.position.try(:created_at)}" %></dd>

              <dt>Registered at</dt>
              <dd><%= asset.created_at %></dd>

              <dt>Last changed</dt>
              <dd><%= asset.updated_at %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted border-top py-3">
        <span class="d-inline-block"><%= link_to "edit", edit_asset_path(asset) %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card card-small card-post mb-4">
      <div class="card-body">
        <h5 class="card-title">
          Positions
        </h5>

        <div class="row">
          <div class="col">
            <%= scatter_chart [
              { name: "Antennas", data: [[0,0],[0,100],[100,100],[100,0]] },
              { name: "Positions", data: asset.positions.map { |p| [p.try(:x) || 0, p.try(:y) || 0] } }
            ], { xtitle: "X", ytitle: "Y", id: 'chart-asset' }
            %>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted border-top py-3">
        <span class="d-inline-block"><%= link_to "edit", edit_asset_path(asset) %></span>
      </div>
    </div>
  </div>
</div>
